<h1>New book</h1>

<%= form_with(model: @book, local: true) do |form| %>
  <% if @book.errors.any? %>
  
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

  <% end %>

  <div class="field">
    <%= form.label :Title %>
    <br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :Opinion %>
    <br>
    <%= form.text_area :body %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
